<div class="row">
<%= link_to 'Edit Profile', edit_mentor_path(current_user), class: "btn btn-default" %>
<%= link_to 'View My Profile', mentor_path(current_user), class: "btn btn-default" %>
</div>

<span id="userType"><%=current_user.type%></span>

<div class="row">
<div class="col-sm-6 pending-mentors">
<h2>Pending Mentorship Requests</h2>
<div class="pending mentorships">
	<% if current_user.pending_requests.any? %>
		<% current_user.pending_requests.each do |mentee| %>
			<h4>Mentee Name:</h4>
			<p><%= mentee.mentee.first_name %> <%= mentee.mentee.last_name %></p>
			<h4>Quote:</h4>
			<p> "<%= mentee.mentee.quote %>"</p>
			<h4>Fun Fact:</h4>
			<p><%= mentee.mentee.fun_fact %></p>
			<p class="italic small">Request sent at <%= mentee.created_at.strftime('%l:%M%P on %B %d, %Y') %></p>
			<form action="mentors/<%=current_user.id%>/mentorships/<%=mentee.id%>" method="POST">
				<input type="hidden" value="true" name="mentorship[confirmed]">
				<input type="hidden" value="PATCH" name="_method">
				<input type="submit" value="Accept Mentorship Request" class="btn btn-default">
			</form>
			<form action="mentors/<%=current_user.id%>/mentorships/<%=mentee.id%>" method="POST">
				<input type="hidden" value="DELETE" name="_method">
				<input type="submit" value="Reject Mentorship Request" class="btn btn-default">
			</form>
			<hr>
		<% end %>
	<% else %>
		<p class="italic">You currently have no pending mentorship requests.</p>
	<% end %>
</div>
</div>


<div class="col-sm-12 mentorships-header">
	<h1>Currently Mentoring</h1>
	<p class="quote"> Connect with your mentees below! </p>
</div>

<% if current_user.mentees.any? %>
	<% current_user.mentees.each do |mentee| %>
<div class="col-sm-6 current-mentors">
<div class="current mentorships">
			<button class="btn btn-default" id="end-mentorship">End Mentorship</button>
			<h3><%= mentee.mentee.first_name %> <%= mentee.mentee.last_name %></h3>
			<p>"<%= mentee.mentee.fun_fact %>"</p>
			<p class="italic small">Mentee since <%= mentee.created_at.strftime('%B %d, %Y') %></p>

			<div class="inbox" id="inbox_<%= mentee.mentee.id %>">
				<ul class="conversation" id="conversation_<%=mentee.mentee.id%>">

				</ul>
			</div>

			<button data-method="compose" class="get-message btn btn-default">Message <%= mentee.mentee.first_name %></button>

			<form class="compose" id="form_<%= mentee.mentee.id %>">
			  <div class="close-window">&times;</div>
			  <input type="hidden" name="mentee_id" value="<%= mentee.mentee.id %>">
			  <input type="hidden" name="mentor_id" value="<%= current_user.id %>">
			  <input type="text" name="subject" placeholder="Subject" class="form-control">
			  <textarea name="content" placeholder="Body" class="form-control"></textarea>
				<button class="btn btn-default send-message" id="send_<%=mentee.mentee.id%>">Send</button>
			</form>
		</div>
	</div>
	<% end %>
<% else %>
<div class="col-sm-12 current-mentors">
	<div class="current mentorships">
		<p class="italic">You have no current mentees</p>
	</div>
</div>
<% end %>
</div>
