<div class="row">
	<%= link_to 'Edit Profile', edit_mentee_path(current_user), class: "btn btn-default" %>
	<%= link_to 'View My Profile', mentee_path(current_user), class: "btn btn-default" %>
</div>

<span id="userType"><%=current_user.type%></span>

<div class="row">
<div class="col-sm-6 pending-mentors">
<h2>Pending Mentorship Requests</h2>
<div class="pending mentorships">
	<% if current_user.pending_requests.any? %>
		<% current_user.pending_requests.each do |mentor| %>
			<h3><a href="mentors/<%= mentor.mentor.id %>"><%= mentor.mentor.first_name %> <%= mentor.mentor.last_name %></a></h3>
			<h4><%= mentor.mentor.industry %></h4>
			<p class="italic">Request sent at <%= mentor.created_at.strftime('%l:%M%P on %B %d, %Y') %></p>
		<% end %>
	<% else %>
		<p class="italic">You currently have no pending mentorship requests.</p>
	<% end %>
</div>
</div>

<div class="col-sm-12 mentorships-header">
	<h1>Current Mentors</h1>
	<p class="quote"> Connect with your mentors below! </p>
</div>


<% if current_user.mentors.any? %>
	<% current_user.mentors.each do |mentor| %>
<div class="col-sm-6 current-mentors">
<div class="current mentorships">
			<button class="btn btn-default" id="end-mentorship">End Mentorship</button>
			<h3><a href="mentors/<%= mentor.mentor.id %>"><%= mentor.mentor.first_name %> <%= mentor.mentor.last_name %></a></h3>
			<p><%= mentor.mentor.industry %></p>
			<p class="italic small">Mentor since <%= mentor.created_at.strftime('%a %B %d %Y') %></p>

			<div class="inbox" id="inbox_<%= mentor.mentor.id %>">
				<ul class="conversation" id="conversation_<%=mentor.mentor.id%>">

				</ul>
			</div>

			<button data-method="compose" class="get-message btn btn-default">Message <%= mentor.mentor.first_name %></button>
			<form class="compose" id="form_<%= mentor.mentor.id %>">
				<div class="close-window">&times;</div>
			  <input type="hidden" name="mentee_id" value="<%= current_user.id %>">
			  <input type="hidden" name="mentor_id" value="<%= mentor.mentor.id %>">
			  <input type="text" name="subject" placeholder="Subject" class="form-control">
			  <textarea name="content" placeholder="Message" class="form-control"></textarea>
			  <button class="btn btn-default send-message" id="send_<%=mentor.mentor.id%>">Send</button>
			</form>
		</div>
	</div>
	<% end %>
<% else %>
<div class="col-sm-12 current-mentors">
	<div class="current mentorships">
				<p class="italic">You have no current mentors</p>
			</div>
	</div>
<% end %>
</div>
