<!DOCTYPE html>
<html>
<head>
  <title>Lean Ligers Home Page</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<% if current_user %>
		<%= "Welcome, " + current_user.first_name  %>
	<% else %>
		Don't have an account yet? <%= link_to 'Sign Up!', new_user_path %>
	<% end %>
	<%= button_to "Log Out", session_url, method: "delete" if current_user %>

	<%= yield %>

</body>
</html>