<!DOCTYPE html>
<html>
<head>
  <title>Lean Ligers Home Page</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<%= "Welcome, " + current_user.first_name if current_user %>
	<%= button_to "Log Out", session_url, method: "delete" %>

	<%= yield %>

</body>
</html>