<p id="notice"><%= notice %></p>
<section class="mentor-directory">
  <div class="container">

    <div class="row">
      <h1>Meet Our Mentors</h1>
      <form class="form-horizontal col-sm-6 col-sm-offset-3">
          <select class="form-control industry-select">
            <option>Product Management</option>
            <option>User Experience Design</option>
            <option>Web Development</option>
          </select>
      </form>
    </div>

    <% @users.each do |user| %>
      <% if user.industry == 'Web Development' %>
        <div class="mentor-card col-sm-4 mentor-web">
          <a href="/mentors/<%= user.id %>" class="mentor-icon"><i class="fa fa-user fa-2x"></i><a>
          <h2><%= link_to user.first_name, user %></h2>
          <h3><%= user.industry %></h3>
        </div>
      <% end %>
      <% if user.industry == 'Product Management' %>
        <div class="mentor-card col-sm-4 mentor-pm">
          <a href="/mentors/<%= user.id %>" class="mentor-icon"><i class="fa fa-user fa-2x"></i><a>
          <h2><%= link_to user.first_name, user %></h2>
          <h3><%= user.industry %></h3>
        </div>
      <% end %>
      <% if user.industry == 'User Experience Design' %>
        <div class="mentor-card col-sm-4 mentor-ux">
          <a href="/mentors/<%= user.id %>" class="mentor-icon"><i class="fa fa-user fa-2x"></i><a>
          <h2><%= link_to user.first_name, user %></h2>
          <h3><%= user.industry %></h3>
        </div>
      <% end %>
    <% end %>

  </div>
</section>
