<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
   <div class="navbar-header">
     <button class="navbar-toggle collapsed btn btn-default" data-toggle="collapse" data-target=".navbar-collapse-1">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
      <a class="navbar-brand" href="/">
       <%= image_tag("logo.png", class: "logo", alt: "CareerCupid") %>
      </a>
      <ul class="nav navbar-nav navbar-left collapse navbar-collapse navbar-collapse-1">
          <li><a href="/homepage">Dashboard</a></li>
          <li><a href="/mentors">Mentors</a></li>
          <li><a href="#">Browse Careers</a></li>
        </ul>
   </div>
   <div class="navbar-form navbar-right collapse navbar-collapse navbar-collapse-1">
      <% if current_user %>
          <%= "Welcome, " %><%= link_to current_user.first_name, homepage_path  %>
          <%= link_to "Log Out", logout_path, class: "btn btn-default logout" %>
      <% else %>
      <div class="form-group">
        <%= form_for @user, as: :session, url: session_url do |f| %>
          <%= f.text_field :email, placeholder: "Email", class: 'form-control' %>
          <%= f.password_field :password, placeholder: "Password", class: 'form-control' %>
          <%= f.submit "Log in", class: 'btn btn-default' %>
        <% end %>
      </div>
      <div class="form-group">
        <%= link_to 'Sign Up', new_user_path, class: 'btn btn-default', 'data-toggle'=>'modal', 'data-target'=> '.newUser' %>
        <% end %>
      </div>
     </div>
  </div>
</nav>
