<% if current_user %>

  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
     <div class="navbar-header">
       <button class="navbar-toggle collapsed btn btn-default" data-toggle="collapse" data-target=".navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
        <a class="navbar-brand" href="/">
         <%= image_tag("logo.png", class: "logo", alt: "CareerCupid") %>
        </a>
        <ul class="nav navbar-nav navbar-left collapse navbar-collapse navbar-collapse-1">
            <li><a href="/homepage">Dashboard</a></li>
            <li><a href="/mentors">Browse Mentors</a></li>
          </ul>
     </div>
     <div class="navbar-form navbar-right collapse navbar-collapse navbar-collapse-1">
        <%= "Welcome, " %><%= link_to current_user.first_name, homepage_path  %>
        <%= link_to "Log Out", logout_path, class: "btn btn-default logout" %>
      </div>
    </div>
  </nav>

<% else %>
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
   <div class="navbar-header">
     <button class="navbar-toggle collapsed btn btn-default" data-toggle="collapse" data-target=".navbar-collapse-1">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
      <a class="navbar-brand" href="/">
       <%= image_tag("logo.png", class: "logo", alt: "CareerCupid") %>
      </a>
      <ul class="nav navbar-nav navbar-left collapse navbar-collapse navbar-collapse-1">
          <li><a href="/mentors">Browse Mentors</a></li>
        </ul>
   </div>
   <div class="navbar-form navbar-right collapse navbar-collapse navbar-collapse-1">
      <div class="form-group">
        Have an account? <button class="btn btn-default" data-toggle="collapse" href="#login" aria-expanded="false" aria-controls="collapseExample">Log In</button>
      </div>
      <div class="form-group">
        <%= link_to 'Sign Up', new_user_path, class: 'btn btn-default' %>
      </div>
     </div>
  </div>
  <div class="collapse" id="login">
    <div class="well login-well">
      <%= form_for @user, as: :session, url: session_url do |f| %>
        <%= f.text_field :email, placeholder: "Email", class: 'form-control', :autofocus=>true %>
        <%= f.password_field :password, placeholder: "Password", class: 'form-control' %>
        <%= f.submit "Submit", class: 'btn btn-default' %>
      <% end %>
    </div>
  </div>
</nav>
<% end %>
