<%= render '/static/header' %>

<p id="notice"><%= notice %></p>

<!-- <div class="jumbotron cover-photo">
	<div class="container">
		<img src="https://s3.amazonaws.com/uifaces/faces/twitter/brynn/128.jpg" class="absolute-center">
	</div>
</div> -->

<section class="user-homepage">
<div class="container">

	<h1><%= current_user.first_name %> <%= current_user.last_name %></h1>
	<h2>I enjoy <%= current_user.interests %>...</h2>

	<% if current_user.type == 'Mentor' %>
		<%= render 'users/mentors/home' %>
	<% else %>
		<%= render 'users/mentees/home' %>
	<% end %>
</div>
</section>
