<h1>Sign Up Here</h1>

<%= form_for @user do |f| %>
  <%= f.label :type, 'I am signing up as a ' %>
  <br/>
  Mentee <%= f.radio_button :type, 'Mentee' , :checked => true %>
  Mentor <%= f.radio_button :type, 'Mentor'  %>
  <br/>
  <%= f.text_field :first_name, placeholder: "First Name" %>
  <br/>
  <%= f.text_field :last_name, placeholder: "Last Name" %>
  <br/>
   <%= f.text_field :email, placeholder: "Email Address" %>
  <br/>
  <%= f.label :industry, 'Select a Desired Industry' %><br>
	<%= f.select :industry,  [['Web Development'], ['User Experience Design'], ['Project Management']] %>
  <br/>
  <%= f.password_field :password, placeholder: "Password" %>
  <br/>
  <%= f.password_field :password_confirmation, placeholder: "Confirm Password" %>
  <br/>
  <%= f.text_area :interests, placeholder: 'What are some interests or hobbies you have?' %>
  <br>
  <%= f.text_area :advice, placeholder: 'Write one sentence of industry advice.' %>
  <br>

  <%= f.submit "Sign up" %>
<% end %>

<%= link_to 'Back', login_path %>
