<p id="notice"><%= notice %></p>

<p>Name: <%= @user.first_name %> <%= @user.last_name %></p>
<p>Role: </p>
<p>Seeking:  </p>
<p>Industry: <%= @user.industry %> </p>
<p>Email: <%= @user.email %> </p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
