<div class="container">
  <form class="form-horizontal col-sm-4">
    <%= form_for @user do |f| %>
    <div class="form-group">
      <h1>I am signing up as a </h1>
      Mentee <%= f.radio_button :type, 'Mentee' , :checked => true, class: 'radio-label' %>
      Mentor <%= f.radio_button :type, 'Mentor', class: 'radio-label'  %>
    </div>
    <div class="form-group">
      <%= f.text_field :first_name, placeholder: "First Name", class: "form-control" %>
      <%= f.text_field :last_name, placeholder: "Last Name", class: "form-control" %>
      <%= f.text_field :email, placeholder: "Email Address", class: "form-control"%>
    </div>
    <div class="form-group">
      <%= f.label :industry, 'Select a Desired Industry' %><br>
  	  <%= f.select :industry,  [['Web Development'], ['User Experience Design'], ['Project Management']] %>
    </div>
    <div class="form-group">
      <%= f.password_field :password, placeholder: "Password", class: "form-control" %>
      <%= f.password_field :password_confirmation, placeholder: "Confirm Password", class: "form-control" %>
    </div>
    <% end %>
  </form>
  <form class="form-horizontal col-sm-4 col-sm-offset-2">
    <div class="form-group">
      <%= form_for @user do |f| %>
      <%= f.text_area :interests, placeholder: 'What are some interests or hobbies you have?' %>
      <%= f.text_area :advice, placeholder: 'Write one sentence of industry advice.' %>
      <%= f.submit "Sign up", class: "btn btn-default" %>
      <% end %>
    </div>
  </form>
</div>
