<!DOCTYPE html>
<html>
<head>
  <title>Lean Ligers Home Page</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<%= current_user ? (link_to current_user.first_name, homepage_path) : (link_to 'Log In', login_path) %>

	<%= yield %>

</body>
</html>
