<p>The one piece of advice for someone looking to get a job in <%= @user.industry %> would be,  "<%= @user.advice %>"</p>


<% if @user.mentorships.where(mentee_id: current_user.id).exists? %>
	<button class="pending mentorship-request <%= @user.id %> pending" disabled="disabled" style="background-color:gray;">
		Request Pending
	</button>
<% else %>
	<button id="<%= @user.id %>" class="available mentorship-request <%= @user.id %> exists">
		Request Mentorship
	</button>
<% end %>

<br>
<%= link_to 'Back', mentors_path %>

