<p>The one piece of advice for someone looking to get a job in <%= @user.industry %> would be  "<%= @user.advice %>"</p>

<%= @user.id %>

<%= link_to 'Request Mentorship', mentorships_path, :method => :post %> 
<br>
<%= link_to 'Back', mentors_path %>

